
<body class="site helix-ultimate com-sppagebuilder view-page layout-default task-none itemid-101 en-gb ltr sticky-header layout-fluid offcanvas-init offcanvs-position-right">
  <div class="body-wrapper">
      <div class="body-innerwrapper">


          <section id="sp-page-title">
              <div class="row">
                  <div id="sp-title" class="col-lg-12">
                      <div class="sp-column"></div>
                  </div>
              </div>
          </section>
          <section id="sp-main-body">
              <div class="row">
                  <main id="sp-component" class="col-lg-12" role="main">
                      <div class="sp-column">
                          <div id="system-message-container"></div>
                          <div id="sp-page-builder" class="sp-page-builder page-1">
                              <div class="page-content">
                                  <section id="section-id-1520246032676" class="sppb-section hero-section">
                                      <div class="sppb-row-overlay"></div>
                                      <div class="sppb-row-container">
                                          <div class="sppb-row">
                                              <div class="sppb-col-md-12" id="column-wrap-id-1520246032675">
                                                  <div id="column-id-1520246032675" class="sppb-column">
                                                      <div class="sppb-column-addons">
                                                          <div id="sppb-addon-1520499494867" class="sppb-wow fadeInUp clearfix" data-sppb-wow-duration="700ms">
                                                              <div class="sppb-addon sppb-addon-header sppb-text-left">
                                                                  <h2 class="sppb-addon-title">the best medical center</h2>
                                                              </div>
                                                          </div>
                                                          <div id="sppb-addon-1520492390120" class="sppb-wow fadeInUp clearfix" data-sppb-wow-duration="700ms" data-sppb-wow-delay="300ms">
                                                              <div class="sppb-addon sppb-addon-header sppb-text-left">
                                                                  <h2 class="sppb-addon-title"><strong>Bringing health</strong> to life for the whole family.</h2>
                                                              </div>
                                                          </div>
                                                          <div id="sppb-addon-1520246050007" class="sppb-wow fadeInUp clearfix" data-sppb-wow-duration="700ms" data-sppb-wow-delay="500ms">
                                                              <div class="sppb-text-left"><a href="#" id="btn-1520246050007" class="sppb-btn sppb-btn-primary sppb-btn-rounded">Get Appointment</a></div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </section>
                                  <section id="section-id-1520246050060" class="sppb-section">
                                      <div class="sppb-row-container">
                                          <div class="sppb-row">
                                              <div class="sppb-col-md-12" id="column-wrap-id-1520246050059">
                                                  <div id="column-id-1520246050059" class="sppb-column">
                                                      <div class="sppb-column-addons">

                            <br> <br> <br>
                            <section id="section-id-1522421572267" class="sppb-section "
                  data-sppb-parallax="on">
                  <div class="sppb-row-overlay"></div>
                  <div class="sppb-row-container">
                    <div class="sppb-row">
                      <div class="sppb-col-md-6" id="column-wrap-id-1522421572265">
                        <div id="column-id-1522421572265" class="sppb-column">
                          <div class="sppb-column-addons">
                            <div id="sppb-addon-1522421620030" class="clearfix">
                              <div
                                class="sppb-addon sppb-addon-single-image sppb-text-center ">
                                <div class="sppb-addon-content">
                                  <div class="sppb-addon-single-image-container">
                                    <img class="sppb-img-responsive"
                                      src="../../assets/images/about-us-img2.jpg"
                                      alt="Image" title=""></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sppb-col-md-6" id="column-wrap-id-1522421572266">
                        <div id="column-id-1522421572266" class="sppb-column">
                          <div class="sppb-column-addons">
                            <div id="sppb-addon-1520402596291" class="clearfix">
                              <div
                                class="sppb-addon sppb-addon-text-block 0 sppb-text-left custom-text">
                                <h2 class="sppb-addon-title">Our Mission & Vision
                                </h2>
                                <div class="sppb-addon-content">Lorem ipsum dolor
                                  sit amet, consectetur adipisicing elit, sed do
                                  eiusmod tempor incididunt.</div>
                              </div>
                            </div>
                            <div id="sppb-addon-1520404263871" class="clearfix">
                              <div
                                class="sppb-addon sppb-addon-text-block 0  custom-list custom-list-2 ">
                                <div class="sppb-addon-content">
                                  <ul>
                                    <li>Cardioplegia</li>
                                    <li>Cardiothoracic</li>
                                    <li>Prescribed Medicine</li>
                                    <li>Emergency Care</li>
                                    <li>24/7 Nursing facility</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section><br> <br>
                                                          <div id="sppb-addon-1520246050063" class="clearfix">
                                                              <div class="sppb-addon sppb-addon-header sppb-text-center">
                                                                  <h2 class="sppb-addon-title">Services We Provide</h2>
                                                              </div>
                                                          </div>
                                                          <div id="sppb-addon-1520246050079" class="clearfix">
                                                              <div class="sppb-addon sppb-addon-text-block 0 sppb-text-center">
                                                                  <h3 class="sppb-addon-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit seddo eiusmod tempor incididunt ut labore.</h3>
                                                                  <div class="sppb-addon-content"></div>
                                                              </div>
                                                          </div>
                                                          <div id="sppb-addon-1522400691731" class="clearfix">
                                                              <div class="sppb-addon sppb-addon-module">
                                                                  <div class="sppb-addon-content">
                                                                      <div class="mod-spmedical-services">
                                                                          <div class="spmedical-service-list">
                                                                              <div class="row">
                                                                                  <div class="spmedical-departments col-md-6">
                                                                                      <div class="spmedical-department-wrap has-image">
                                                                                          <a href="departments.html/department/rehabilitation-center">
                                                                                              <div class="spmedical-department-img-wrap">
                                                                                                  <img src="../../assets/images/department12.jpg" alt="">
                                                                                              </div>
                                                                                              <div class="spmedical-department-content">
                                                                                                  <h3 class="spmedical-department-title">Rehabilitation Center</h3>
                                                                                                  <div class="spmedical-department-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</div>
                                                                                              </div>
                                                                                          </a>
                                                                                      </div>
                                                                                  </div>
                                                                                  <div class="spmedical-departments col-md-6">
                                                                                      <div class="spmedical-department-wrap has-image">
                                                                                          <a href="departments.html/department/latest-equipments">
                                                                                              <div class="spmedical-department-img-wrap">
                                                                                                  <img src="../../assets/images/department11.jpg" alt="">
                                                                                              </div>
                                                                                              <div class="spmedical-department-content">
                                                                                                  <h3 class="spmedical-department-title">Latest Equipments</h3>
                                                                                                  <div class="spmedical-department-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</div>
                                                                                              </div>
                                                                                          </a>
                                                                                      </div>
                                                                                  </div>
                                                                                  <div class="spmedical-departments col-md-6">
                                                                                      <div class="spmedical-department-wrap has-image">
                                                                                          <a href="departments.html/department/medical-counseling">
                                                                                              <div class="spmedical-department-img-wrap">
                                                                                                  <img src="../../assets/images/department10.jpg" alt="">
                                                                                              </div>
                                                                                              <div class="spmedical-department-content">
                                                                                                  <h3 class="spmedical-department-title">Medical Counseling</h3>
                                                                                                  <div class="spmedical-department-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</div>
                                                                                              </div>
                                                                                          </a>
                                                                                      </div>
                                                                                  </div>
                                                                                  <div class="spmedical-departments col-md-6">
                                                                                      <div class="spmedical-department-wrap has-image">
                                                                                          <a href="departments.html/department/emergency-services">
                                                                                              <div class="spmedical-department-img-wrap">
                                                                                                  <img src="../../assets/images/department9.jpg" alt="">
                                                                                              </div>
                                                                                              <div class="spmedical-department-content">
                                                                                                  <h3 class="spmedical-department-title">Emergency Services</h3>
                                                                                                  <div class="spmedical-department-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</div>
                                                                                              </div>
                                                                                          </a>
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>

                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div id="sppb-addon-1520318867970" class="clearfix">
                                                              <div class="sppb-text-center"><a href="departments.html" id="btn-1520318867970" class="sppb-btn sppb-btn-primary sppb-btn-rounded">VIEW MORE</a></div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </section>
                                  <section id="section-id-1522314846913" class="sppb-section">
                                      <div class="sppb-row-container">
                                          <div class="sppb-row">
                                            <div class="sppb-col-md-12" id="column-wrap-id-1522314846912">
                                                <div id="column-id-1522314846912" class="sppb-column">
                                                  <div class="sppb-column-addons">





                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                      </div>
                                  </section>
                                 
                              </div>
                          </div>
                      </div>
                  </main>
              </div>
          </section>

      </div>
  </div>

  <!-- Off Canvas Menu -->
  <div class="offcanvas-overlay"></div>
  <div class="offcanvas-menu">
      <a href="#" class="close-offcanvas"><span class="fa fa-remove"></span></a>
      <div class="offcanvas-inner">
          <div class="sp-module">
              <div class="sp-module-content">
                  <ul class="menu">
                      <li class="item-101 default current active menu-deeper menu-parent"><a href="index.html">Home<span class="menu-toggler"></span></a>
                          <ul class="menu-child">
                              <li class="item-170"><a href="index.html/home/home-dental">Home - Dental</a></li>
                              <li class="item-171"><a href="index.html/home/home-paediatrics">Home - Paediatrics</a></li>
                          </ul>
                      </li>
                      <li class="item-177"><a href="appo.html">Appointments</a></li>
                      <li class="item-172"><a href="doctor.html">Doctors</a></li>
                      <li class="item-176"><a href="schedules.html">Schedules</a></li>
                      <li class="item-162"><a href="departments.html">Departments</a></li>
                      <li class="item-108 menu-deeper menu-parent"><a href="#">Pages<span class="menu-toggler"></span></a>
                          <ul class="menu-child">
                              <li class="item-107"><a href="index.html/pages/about">About Us</a></li>
                              <li class="item-113"><a href="index.html/pages/contact">Contact</a></li>
                              <li class="item-179"><a href="index.html/pages/medico-icon">Medico Icon</a></li>
                              <li class="item-109"><a href="index.html/pages/login">Login</a></li>
                              <li class="item-110"><a href="Register.html">Registration</a></li>
                              <li class="item-111"><a href="index.html?Itemid=404">404</a></li>
                              <li class="item-112"><a href="index.html?tmpl=comingsoon">Coming Soon</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</body>
