<section id="sp-page-title">
  <div class="row">
    <div id="sp-title" class="col-lg-12 ">
      <div class="sp-column ">
        <div class="sp-page-title" style="background-image: url(../../assets/images/page-title.jpg);">
          <div class="container">
            <h2>Schedules</h2>
            <ol itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
              <li class="float-left">
                <span class="divider fa fa-location" aria-hidden="true"></span>
              </li>

              <li itemprop="itemListElement" itemscope=""
                itemtype="https://schema.org/ListItem" class="breadcrumb-item"><a
                  itemprop="item" href="index.html" class="pathway"><span
                    itemprop="name">Home</span></a>
                <meta itemprop="position" content="1">
              </li>
              <li itemprop="itemListElement" itemscope=""
                itemtype="https://schema.org/ListItem" class="breadcrumb-item active"><span
                  itemprop="name">Schedules</span>
                <meta itemprop="position" content="2">
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sp-main-body" class="schedule-section">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <main id="sp-component" class="col-lg-12" role="main">
          <div class="sp-column">
            <div class="row justify-content-center">
              <div class="col-lg-6 col-md-8">
                <div class="section-tittle text-center mb-50">
                  <span>OUR DOCTOR SCHEDULE</span>
                  <h3>SELECT YOUR APPOINTMENT TIME</h3>
                  <br>
                </div>
              </div>
            </div>

            <div class="row justify-content-center mb-20">
              <div class="col-lg-11">
                <div class="schedule-tabs">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a *ngFor="let day of days" class="nav-item nav-link" [class.active]="day.id === 'tue'"
                         data-bs-toggle="tab" [attr.href]="'#nav-' + day.id">{{day.label}}<br>{{day.date}}</a>
                    </div>
                  </nav>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-11">
                <div class="tab-content" id="nav-tabContent">
                  <div *ngFor="let day of days" class="tab-pane fade" [class.show]="day.id === 'tue'"
                       [class.active]="day.id === 'tue'" [attr.id]="'nav-' + day.id" role="tabpanel">
                    <div class="row">
                      <div class="col-12">
                        <div class="tab-wrapper d-flex flex-wrap gap-20 justify-content-center">
                          <div *ngFor="let slot of availabilityByDay[day.id]" class="single-box">
                            <div class="single-caption text-center">
                              <div class="caption">
                                <span>{{slot.start}} - {{slot.end}}</span>
                                <h3>{{slot.specialty}}</h3>
                                <p><span>by :</span> <strong>{{slot.doctorName}}</strong></p>
                                <p><span>Specialty : </span> <strong>{{slot.specialty}}</strong></p>
                                <button class="btn" data-bs-toggle="modal" [attr.data-bs-target]="'#bookModal-' + slot.doctorId + '-' + slot.start">
                                  BOOK APPOINTMENT
                                </button>
                              </div>
                            </div>
                            <div class="modal fade" [attr.id]="'bookModal-' + slot.doctorId + '-' + slot.start"
                                 tabindex="-1" [attr.aria-labelledby]="'bookModalLabel-' + slot.doctorId + '-' + slot.start">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" [attr.id]="'bookModalLabel-' + slot.doctorId + '-' + slot.start">
                                      Reservation Confirmation
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                  </div>
                                  <div class="modal-body">
                                    <p>Are you sure you want to reserve {{slot.start}} - {{slot.end}} with {{slot.doctorName}}?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                            (click)="bookAppointment(slot)">Confirm</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>
