<br><br>
<section id="sp-main-body">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <main id="sp-component" class="col-lg-12" role="main">
          <div class="sp-column">
            <div class="spmedical view-spmedical-appointments spmedical-appointments">
              <div class="spmedical-specialist-appointment">
                <div class="spmedical-specialist-appointment-form">
                  <h3>Make an Appointment with</h3>
                  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" class="spmedical-specialist-appintment">
                    <div class="input-item">
                      <select formControlName="medecinId" class="spmedical-combobox spmedical-appointment-combobox">
                        <option value="">Choose Specialists for make an appointment</option>
                        <option *ngFor="let specialist of specialists" [value]="specialist.user_id">
                          {{ specialist.User.prenom }} {{ specialist.User.nom }} - {{ specialist.specialite }}
                        </option>
                      </select>
                    </div>
                    <br>
                    <div class="input-field">
                      <input type="text" formControlName="patientName" placeholder="Patient Name" autocomplete="off">
                    </div>
                    <div class="input-field-half-wrap">
                      <div class="input-field input-field-half">
                        <input type="text" formControlName="phone" placeholder="Phone">
                      </div>
                      <div class="input-field input-field-half">
                        <input type="text" formControlName="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="input-field">
                      <input type="datetime-local" formControlName="appointmentDate" placeholder="Appointment Date">
                    </div>
                    <div class="input-field">
                      <textarea formControlName="patientNote" placeholder="Appointment Note" cols="30" rows="5"></textarea>
                    </div>
                    <div class="input-field spmedical-text-center">
                      <button  type="submit" class="spmedical-btn spmedical-btn-primary" [disabled]="appointmentForm.invalid">
                        Request Appointment
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>
