<!-- dashborad.component.html -->
<div class="main-content">
  <div class="page active" id="dashboard">
    <div class="dashboard-grid">
      <div class="dashboard-card">
        <h3>Total des rendez-vous</h3>
        <p id="totalAppointments">{{ totalAppointments }}</p>
      </div>
      <div class="dashboard-card">
        <h3>Total des patients</h3>
        <p id="totalPatients">{{ totalPatients }}</p>
      </div>
      <div class="dashboard-card">
        <h3>Total des médecins</h3>
        <p id="totalDoctors">{{ totalDoctors }}</p>
      </div>
    </div>


    <div class="chart-container">
      <h3>Variation des rendez-vous par jour</h3>
      <canvas id="appointmentsVariationChart"></canvas>
    </div>
  </div>
</div>
