<section id="sp-page-title">
    <div class="row">
      <div id="sp-title" class="col-lg-12">
        <div class="sp-column">
          <div class="sp-page-title" style="background-image: url(../../assets/images/page-title.jpg);">
            <div class="container">
              <h2>{{ doctor?.User.nom }} {{ doctor?.User.prenom }}</h2>
              <ol itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                <li class="float-left">
                  <span class="divider fa fa-location" aria-hidden="true"></span>
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item"><a itemprop="item" href="index.html" class="pathway"><span itemprop="name">Home</span></a>
                  <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item active"><span itemprop="name">Doctors</span>
                  <meta itemprop="position" content="2">
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="sp-main-body">
    <div class="container">
      <div class="container-inner">
        <div class="row">
          <main id="sp-component" class="col-lg-12" role="main">
            <div class="sp-column">
              <div id="system-message-container"></div>
  
              <div id="spmedical" class="spmedical view-spmedical-specialist spmedical-person">
                <div class="spmedical-row">
                  <div class="spmedical-col-md-5 spmedical-col-lg-4 spmedical-col-xl-3">
                    <div class="specialist-info">
                      <div class="specialist-img">
                        <img *ngIf="doctor?.image_url" [src]="doctor?.image_url" class="spmedical-person-image spmedical-img-responsive" alt="{{ doctor?.User.nom }}">
                      </div>
  
                      <div class="specialist-name">
                        <h3>{{ doctor?.User.nom }} {{ doctor?.User.prenom }}</h3>
                        <span>{{ doctor?.specialite }}</span>
                      </div>
  
                      <div class="specialist-specialties">
                        <h3>Specialities</h3>
                        {{ doctor?.specialite }}
                      </div>
  
                      <div class="specialist-contact-info">
                        <h3>Contact Info</h3>
                        <p>{{ doctor?.User.numero_de_telephone }}</p>
                        <a [href]="'mailto:' + doctor?.User.email">{{ doctor?.User.email }}</a>
                      </div>
  
                      <div class="specialist-available-hours">
                        <h3>Available Hours</h3>
                        <ul>
                          <li>
                            <span class="date">Sunday</span>
                            <span class="time">{{ doctor?.datedebut }} - {{ doctor?.datefin }}</span>
                          </li>
                          <li>
                            <span class="date">Monday</span>
                            <span class="time">{{ doctor?.datedebut }} - {{ doctor?.datefin }}</span>
                          </li>
                        </ul>
                      </div>
  
                      <div class="appointment-button">
                        <a class="spmedical-btn btn-primary" href="#">Request Appointment</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="spmedical-col-md-6 spmedical-col-lg-7 spmedical-col-xl-7 spmedical-offset-lg-1">
                    <div class="about-specialist">
                      <div class="specialist-intro">
                        <h2>About The Doctor</h2>
                        <p>{{ doctor?.User.nom }} is a specialist in {{ doctor?.specialite }} with a rating of {{ doctor?.rating }}.</p>
                      </div>
                      <!-- More sections like Work Experience, Education, etc. -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </section>
  